@import "tailwindcss";

@layer utilities {
  /* Custom scrollbar for dark mode */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-800 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-700;
  }
}

